body {
    margin: 0;
}

.div4 {
    background-color: red;
    border: 10px solid red;
    width: 100px;
    height: 100px;
    position: fixed; top: 100; left: 10px;
}

.div5{
    background-color: blue;
    border: 10px solid blue;
    width: 100px;
    height: 100px;
    position: fixed; top: 200px; left: 130px;
}

.div6{
    background-color: yellow;
    border: 10px solid yellow;
    width: 100px;
    height: 100px;
    position: fixed; top: 320px; left: 250px;
}

table{
    border-collapse: collapse;
}